
body{
	padding: 0;
	margin: 0;
	font-family: "Microsoft yahei";
}

.section{
	background: #ffff92;
	text-align: center;
}

.section p{
	font-size: 20px;
	width: 80%;
	margin: 10px auto;
}

.intro h1{
    width: 12rem;
    margin: 0;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 2.88rem;
}

.intro h1::before{
    content: "";
    width: 6rem;
    height: 4.32rem;
    background: url(img/loading.gif) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -2.5rem;
    left: 3rem;
}

.blog{
	color: #fff;
	background: linear-gradient(to bottom,#ffff92 10%,#b6e7a8 60%,#5cdb98 100%);
}

.project{
	color: #fff;
	background: #5cdb98;
}

@media screen and (max-width: 767px){
	.section p{
		font-size: .5rem;
		width: 10rem;
	}
}